@inject HttpClient Http
@inject ChannelStateProvider ChannelState
@inject HubConnectionProvider ConnectionProvider

<div class="message-area">
    @if(ChannelState.CurrentChannel is null)
    {
        <p>Select a channel</p>
    }
    else if(messages is null)
    {
        <p>Loading...</p>
    }
    else
    {
        string isActive = string.Empty;
        <ul class="message-list">
            @foreach (MessageDto message in messages)
            {
                <li>@message.Author!.Name :: @message.Content</li>
            }
        </ul>
        <div class="message-box">
            <input placeholder="Message @ChannelState.CurrentChannel?.Name" @bind-value="messageInput" @bind-value:event="oninput" @onkeydown="Enter" />
            <div class="box-right">
                @if (messageInput.Length > 0) isActive = "active";
                <button @onclick="Send" disabled="@(!IsConnected)"><img class="@isActive" src="/send.svg"/></button>
            </div>
        </div>
    }
</div>
